ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.full-width {
    width: 100%;
}

/* 
.mantine-TextInput-input {
    &:focus-within {
        border-color: rgb(104, 40, 231); 
    }
}

.mantine-NumberInput-input {
    &:focus-within {
        border-color: rgb(104, 40, 231); 
    }
}

.mantine-Textarea-input {
    &:focus-within {
        border-color: rgb(104, 40, 231); 
    }
}

.mantine-FileInput-input {
    &:focus-within {
        border-color: rgb(104, 40, 231); 
    }
} */